<div class="container">
  <div class="card card-main mt-3">
    <div class="card-body">
      <div class="row">
        <div class="col-12 tittle d-flex justify-content-center">
          Acerca de...
        </div>
        <div class="col-12  mb-3">
          <hr>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <span class="referencia me-1 fw-light">[Anexo]</span>
        </div>
        <div class="col-12 ">
          <a href="https://docs.google.com/document/d/1QtbAAu9iv2JrhRdc5U2wA51lThDaK6m_3E4Fsvh43uo/edit?usp=sharing">Ver
            anexo</a>
          <a></a>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-12">
          <span class="referencia me-1 fw-light">[Usuario Token]</span>
        </div>
        <div class="col-12 token">
          {{user.token}}
        </div>
      </div>
    </div>
  </div>

</div>
